.about-us{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.about-us-text{
	width: 50%;
	float:left;
}

.about-us-text h1{
	text-align:center;
}

.about-us-text p{
	margin-left:10%;
	width:90%;
}

.about-us-image{
	width: 50%;
	float:left;
	margin-top: 11%;
}

.about-us-image img{
	opacity:0.5;
}

.about-us-image img:hover
{
        opacity:1;
}

