@charset 'utf-8';

// The settings file contains the Foundation base settings, like fonts,
// colors, margins and other components.
// @see: http://foundation.zurb.com/sites/docs/sass.html#the-settings-file
@import 'settings';


body{
  font-family: 'Roboto', sans-serif;
}

.column, .columns {
  margin-left: 0% !important;
  margin-right: 0% !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
}



[type='search'] {
  -webkit-box-shadow: none;
          box-shadow: none; }



.underline-this {
        text-decoration: underline;
        text-decoration-color: rgb(249,84,84);
      }

h1 a, h2 a, h3 a {
  text-decoration: none; 
}

a{
  color:black;
}

p.meta {
  font-size: 90%;
  color: #666; 
}

h1{
  font-size:  312.5%;
}

p{
  font-size: 100%;
}



@include breakpoint(medium) {
    h1, h2{
        margin-bottom: 2rem;
    }

    img {
        margin: 0 auto 1rem;
        max-width: 80%;
        display: block;
    }
}

.no-js {
  @include breakpoint(medium only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
// Style widgets using the classes for .widgetholder and .widget
.widgetholder {

    .widget {
        margin: 1.5em 0;
    }
}


@media print, screen and (min-width: 40em) {
  h1, h2 {
    margin-bottom: 2rem; }
  img {
    margin: 0 auto 1rem;
    max-width: 80%;
    display: block; } 
  }

@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none; 
  } 
  .timer p{
  font-size: 200%;
  }
}


@media print, screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none; } 
}

.footer{
  background-color: #C5B7A1;
}

