{% extends 'partials/_master.twig' %}

{% block main %}
	<div class="single-blog clearfix">
	    <div class="record-title">
	        <h1>{{ record.title }}</h1>
	    </div>


	    <div class="record-body">
	      <p>  {{ record.body}} </p>
	    </div>
	</div>

{% endblock main %}
