<!-- Footer -->
<div class="footer">
    Copyright
    <div class="social-menu">
        {{ menu(
            identifier = 'social',
            template = 'partials/_sub_menu.twig',
            params = {'withsubmenus': false, 'class': 'inline-list align-right'}
        ) }}
    </div>

</div>

<script src="{{ asset('js/jquery.min.js', 'theme') }}"></script>
<script src="{{ asset('js/foundation.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>
