<!-- Header bar -->

{# You can either hardcode the filename for the header, or take a value from the current
   content in 'record', or - as we do in this example - take a random one from the list
   in the /theme/foundation/theme.yml file. #}



{% if record is defined %}
{% set headerimage = image(record.image) %}
{% endif %}
{# the values in the 'config' object are taken directly from the file app/config/config.yml #}
<div class="large-12 columns headertitle">
<h2>{{ config.get('general/sitename') }}</h2>
    {% if config.get('general/payoff') %}
        <p>{{ config.get('general/payoff') }}</p>
    {% endif %}
</div>

{% if headerimage is defined and headerimage is not empty %}
	{% setcontent header = 'page/1' %}
	<div class="large-12 columns headerphoto" style='background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.5)), url({{ headerimage }})'> 
		<div class="logo-header">
			<img src="files/brandstof.jpg">
			<h4> Meld je nu aan of raak geinspireerd door <br/> andere inschrijven </h4>
		</div>
		<div class="button-header">
			<button class="button-left"><span>Aanmelden </span></button>
			<button class="button-right"><span>Bekijken </span></button>
		</div>
		
	</div>
{% endif %}

