.blog-preview{
	margin-top: 5%;
}

.recent-blogs{
	margin-bottom: 5%;
}

.single-blog{
	padding-top: 5%;
	padding-bottom: 5%;
}

.single-blog .record-title h1{
	text-align: center;
}

.single-blog .record-body{
	width:80%;
	margin-left:10%;
}

