.mijnbrandstof{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #C5B7A1;
	padding-top: 6%;
	padding-bottom: 5%;
}

.mijnbrandstof-text{
	width: 50%;
	float:left;
}

.mijnbrandstof-text .record-body{
	width:70%;
}


.mijnbrandstof-image{
	width: 50%;
	float:left;
}

.mijnbrandstof-image img{
	width: 60%;
}

.mijnbrandstof-image img:hover{
        border-radius:50%;
}

.mijnuploads{
	margin-top: 1%;
	margin-bottom: 5%;
}

.mijnuploads h1{
	text-align:center;
}

.uploads-preview{
	width: 20%;
	float:left;
}